/*start main rulez*/
body {
	background-color: #F4F4F4;
}
/*end main rulez*/

/*start login form */
.login {
    width: 300px;
    margin: 100px auto;
}
.login .text-center {
	color: #888;
}

.login input {
	margin-bottom: 10px; 
}
.login .form-control {
	background-color: #EAEAEA;
}
.login .btn {
	background-color: #008dde;
}
/*end login form */
.container {
	background-color: #000;
}